.dashboard {
    display: flex;
    height: 100vh;
    width: 100%;
}

.dashContainer {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    height: 100%;
    width: 100%;
    background-color: rgb(220, 220, 220);
}

.titleandusername {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.username {
    margin: 0px;
    padding: 0px;
    margin-right: 10px;
    font-size: 13px;
    font-weight: bold;
}

.role {
    margin: 0px;
    padding: 0px;
    margin-right: 10px;
    font-size: 14px;
}

.nameandimg {
    display: flex;
    justify-content: space-between;
}

.nameandrole {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.ayatcontainer {
    background-color: rgba(0, 79, 206, 0.8);
    height: fit-content;
    border-radius: 5px;
    padding-left: 20px;
}

.Ayat {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.eventandgender {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.event {
    display: flex;
    background-color: white;
    width: 34%;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    box-sizing: border-box;
    /* box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3); */
}

.gender {
    display: flex;
    width: 34%;
    background-color: white;
    border-radius: 5px;
    height: 200px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    box-sizing: border-box;
    /* box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3); */
}

.piechartcontainer {
    height: 190px
}

.teamandbirthdays {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}
.teamcontainer{
    display: flex;
    flex-direction: column;
    width: 49%;
    background-color: white;
    border-radius: 5px;
    height: 290px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    /* box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3); */
}
.birthdayscontainer{
    display: flex;
    flex-direction: column;
    width: 49%;
    background-color: white;
    border-radius: 5px;
    height: 290px;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    margin-bottom: 10px;
    /* box-shadow: 5px 0px 15px 5px rgba(0, 0, 0, 0.3); */
}

.h4{
    padding: 0px;
    margin: 0px;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}
.p{
    padding: 0px;
    margin: 0px;
    font-weight: 500;
}
.count{
    padding: 0px;
    margin: 0px;
    font-weight: 500;
}
.row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
}
.bluetext{
    color: rgb(93, 126, 168);
    font-weight: bold;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
}
.boldtext{
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}
.nameandpic{
    display: flex;
}
.nameAndDesignationDiv{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.nameAndDesignation{
    font-size: 15px;
}
.designation{
    color: gray;
    margin: 0px;
    padding: 0px;
}
.profilePic{
    border-radius: 100px;
}
.scroll{
    overflow-y: auto;
    width: 49%;
}
.even{
    /* background-color: rgb(225, 225, 225); */
}
.odd{
    /* background-color: rgba(0, 79, 206, 0.8); */
}
.chevron{
    cursor: pointer;
}
.totalEmployees{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 20px;
    border-top: 2px solid rgb(210, 210, 210);
}
.temp{
    display: flex;
    background-color: white;
    width: 29%;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    box-sizing: border-box;
}