.user{
    display: flex;
    height: 100vh;
    width: 100%;
}
.usercontainer{
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    height: 100%;
    width: 100%;
    background-color: rgb(225, 225, 227);
}
.titleandusername {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nameandimg {
    display: flex;
    justify-content: space-between;
}
.nameandrole {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.username {
    margin: 0px;
    padding: 0px;
    margin-right: 10px;
    font-size: 13px;
    font-weight: bold;
}

.role {
    margin: 0px;
    padding: 0px;
    margin-right: 10px;
    font-size: 14px;
}
.input{
    margin: 5px;
    margin-top: 10px;
    border: 1px solid rgb(210, 210, 210);
    /* border-color: rgb(240, 240, 240); */
    border-radius: 5px;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 450px;
    outline: none;
    box-sizing: border-box;
}
.employeeinput{
    margin: 5px;
    margin-top: 10px;
    border: 1px solid rgb(210, 210, 210);
    /* border-color: rgb(240, 240, 240); */
    border-radius: 5px;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 100%;
    outline: none;
    box-sizing: border-box;
}
.search{
    background-color: white;
    padding: 5px;
    padding-bottom: 6px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}
.inputDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: white;
    justify-content: space-between;
    padding: 7px;
    /* padding-right: 10px; */
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.usersdata{
    height: fit-content;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.titles{
    display: flex;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.id{
    width: 80px;
    /* background-color: white; */  
}
.name{
    width: 180px;
    /* background-color: aqua; */
    display: flex;
}
.email{
    width: 220px;
}
.dept{
    width: 150px;
    /* background-color: white; */
}
.position{
    width: 200px;
    /* background-color: aqua; */
}
.salary{
    width: 150px;
}
.showusers{
    display: flex;
    width: 100%;
    padding: 7px;
    box-sizing: border-box;
    border-top: 1px solid rgb(210, 210, 210);
    border-bottom: 1px solid rgb(210, 210, 210);
}
.scroll{
    height: fit-content;
}
.profilepic{
    border-radius: 100px;
}
.noData{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    margin-bottom: 20px;
    border-radius: 5px;
}
.p{
    margin: 0px;
    padding: 0px;
}
.buttonDiv{
    display: flex;
    justify-content: flex-end;
}
.btn{
    color: white;
    background-color: rgba(0, 79, 206, 0.75);
    padding: 5px 10px;
    width: 90px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.arrow{
    display: flex; 
    flex-direction: column; 
    height: 15px;
    justify-content: space-between;
    margin-left: 2px;
    cursor: pointer;
    margin-top: 5px;
}
.select{
    margin-left: 6px;
    width: 450px;
    padding: 10px;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(250, 250, 250);
    font-family: Helvetica, sans-serif;
}
.select:focus{
    border: 1px solid rgb(200, 200, 200);
}
.pagination{
    background-color: white;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    box-sizing: border-box;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.paginationnumber{
    padding: 5px;
    background-color: rgb(210, 210, 210);
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
.paginationnumber:hover{
    background-color: rgba(9, 184, 210, 0.4);
}
.activeIndex{
    background-color: rgb(9, 184, 210);
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filterscontainer{
    display: flex;
    gap: 5px;
    justify-content: space-between;
}
.shadow{
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
}
.bold{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    display: inline;
    font-size: 17px;
}
.even{
    background-color: rgb(240, 240, 240);
}
.paginationbtn{
    padding: 5px;
    background-color: rgba(0, 79, 206, 0.75);
    width: fit-content;
    height: 20px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}